@model Cartoonalogue.Models.Cartoon

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Cartoon</h2>
<hr />

<form asp-action="Edit">
    <div class="well">
        <div class="row">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WhenDebuted" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="WhenDebuted" class="form-control" />
                        <span asp-validation-for="WhenDebuted" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Seasons" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Seasons" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="StudioId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="StudioId" class="form-control" asp-items="ViewBag.StudioId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NetworkId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="NetworkId" class="form-control" asp-items="ViewBag.NetworkId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Trivia" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea rows="8" cols="200" asp-for="Trivia" class="form-control"></textarea>
                        <span asp-validation-for="Trivia" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div><br /><br />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
