@{
    ViewData["Title"] = "About";
}
<h2>About Cartoonalgue</h2>


<p>
    Cartoonalogue was developed as an ASP.NET Core 1.0 demo project. You can find the source at <a href="http://www.github.com/craigber/cartoonalogue">http://www.github.com/craigber/cartoonalogue</a></p>
